.column__card {
  padding: 5px;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px #091e4240, 1px 1px 1px 1px #091e424f;

  background: #e1d7cd;
  font-family: 'Arvo', serif;

  color: black;
}

.column__card__title {
  margin: 0;
  padding: 5px;
  font-size: 22px;
}

.column__card:hover {
  cursor: pointer;
  font-weight: bold;
}

.column__card__signsList {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
}

@media (max-width: 730px) {
  .column__card__title {
    margin: 0;
    padding: 5px;
    font-size: 18px;
  }
}
