.cardEditor__container {
  display: flex;
  flex-direction: column;
  min-width: 700px;
  min-height: 700px;
  gap: 20px;

  p {
    padding: 0;
    margin: 0;
  }

  h3 {
    margin-top: 0;
  }
}

.cardEditor__subtitle {
  margin: 0;
  padding: 0;
}
