.cardEditor__container {
  display: flex;
  flex-direction: column;
  min-width: 700px;
  min-height: 700px;

  max-height: 850px;
  gap: 20px;

  overflow-y: scroll;

  background: #e1d7cd;

  p {
    padding: 0;
    margin: 0;
  }

  h3 {
    margin-top: 0;
  }
}

.cardEditor__subtitle {
  margin: 0;
  padding: 0;
}

@media (max-width: 760px) {
  .cardEditor__container {
    width: 100%;
    min-width: 200px;
  }
}
