.topMenu__container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 28px;
  color: black;

  background: #ece8df;
}

.columns__container {
  display: flex;
  justify-content: space-around;

  padding: 15px;
  height: 80%;

  overflow: hidden;
}

.link {
  text-decoration: none;
  font-size: 30px;
  color: black;
}

.link:hover {
  animation-name: moveUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes moveUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

@media (max-width: 730px) {
  .topMenu__container {
    font-size: 16px;
  }

  .link {
    font-size: 16px;
  }

  .columns__container {
    overflow-x: scroll;
  }
}
