.cardEditor__textEditorPreview {
  height: 60px;
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
}

.cardEditor__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cardEditor__description__buttons {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
