.button-primary {
  background: #e1d7cd;
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 15px 5px;
  transition: 0.25s ease-in-out;
}

.button-primary:hover {
  background: #e0d1c2;
}

.button-primary:active {
  opacity: 0.5;
}

.button-secondary {
  background: #6d98ab;
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 15px;
  transition: 0.25s ease-in-out;

  font-size: 16px;
}

.button-secondary:hover {
  background: #b1ccd7;
}

.button-secondary:active {
  opacity: 0.5;
}
