.topMenu__container{
    display: flex;
    justify-content: space-around;

    font-size: 28px;
    color: rgb(0, 0, 0);

    background: green;
}

.columns__container{
    display: flex;
    justify-content: space-around;

    padding: 15px;
    height:88%;

    overflow: hidden;

}



