.subTodos__container {
  display: flex;
  flex-direction: column;

  gap: 10px;
  width: 90%;
}

.subTodo {
  display: flex;
  gap: 10px;
  font-size: 20px;
  justify-content: space-between;

  input {
    border-radius: 5px;
    outline: none;
  }

  p {
    margin: 0;
    padding: 0;
  }

  & &__title {
    display: flex;

    width: 50%;
  }
}

.green {
  color: green;
}

.red {
  color: red;
}
